@import "tailwindcss";


@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-archivo);
  --font-syne: var(--font-syne);
  --color-fun-orange: #FF6600;
  --color-fun-purple: #9D00FF;
  --color-fun-yellow: #FFD600;
  --color-background: #0a0a0a;
  --color-cream: #F5F5F5;
}

:root {
  --background: #050505;
  --foreground: #F5F5F5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Utilities */
.perspective-1000 {
  perspective: 1000px;
}


.text-stroke-purple {
  -webkit-text-stroke: 2px #9D00FF;
  color: transparent;
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}